.emailForm {
  padding: 1rem 2rem;
  background-color: var(--yellow-shadow);
  border-radius: 1rem;
  box-shadow: var(--box-shadowing);
}

.emailForm h3 {
  font-family: "rokafSans-bold";
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  color: var(--yellow-color);
  padding-bottom: 1rem;
}

.emailForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
}

.emailForm div:not(:nth-of-type(5)) label {
  width: 20%;
  text-align: left;
  padding-left: 1rem;
}

.emailForm div:not(:nth-of-type(5), :last-of-type) input,
.emailForm div textarea {
  width: 80%;
  border-style: none;
  padding-left: 1rem;
  border-radius: 0.75rem;
}

.emailForm div input {
  height: 2.5rem;
}

.emailForm div textarea {
  height: 4rem;
  padding-top: 1rem;
}

.emailForm div textarea:focus,
.emailForm div input:focus {
  outline: none;
}

.emailForm div input::placeholder,
.emailForm div textarea::placeholder {
  font-family: "pretendard-extralight";
  font-size: 0.85rem;
}

.emailForm .agree {
  font-size: smaller;
  padding: 0 2rem;
  justify-content: center;
}

.emailForm .agree input {
  border-style: none;
}

.emailForm .agree label {
  margin-left: 1rem;
  line-height: 1.4;
  color : var(--gray)
}

.emailForm .submit {
  justify-content: center;
  margin-bottom: 0;
}

.submitBtn{
  width: 30%;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-family: "pretendard-semibold";
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
  transition: .3s;
  border-radius: 1rem;
  border-style: none;
}

.submitBtnAction {background-color: var(--yellow-color);}

.submitBtnInaction {
  background-color: var(--lightest-gray);
  cursor: none; 
}

.submitBtnAction:hover {
  background-color: white;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
}