/* side-nav-menu */

.sideNavCon {
  position: fixed;
  width: 50%;
  max-width: 500px;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideNavCon::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: white;
  left: -10%;
  border-radius: 40px / 500px;
}

.darkArea {
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.sideNav {
  text-align: center;
  font-family: "rokafSans-bold";
  text-transform: uppercase;
  line-height: 2.25;
  font-size: 2.25rem;
  padding-bottom: 3rem;
  position: relative;
  width: 100%;
}

.sideNav li {
  cursor: pointer;
  transition: 0.3s;
}

.sideNav li:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sideNav li:nth-of-type(1) {
  color: var(--violet-color);
}

.sideNav li:nth-of-type(2) {
  color: var(--purple-color);
}

.sideNav li:nth-of-type(3) {
  color: var(--orange-color);
}

.sideNav li:nth-of-type(4) {
  color: var(--yellow-color);
}

.sideNav::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightest-gray);
}

.linkBtnCon {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.linkBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.linkBtn span {
  padding: 1rem 0;
  text-transform: uppercase;
  transition: 0.1s;
}

.linkBtn:hover span {
  font-weight: bold;
}

.linkBtnIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.linkBtn:hover .linkBtnIcon {
  box-shadow: inset 10px 10px 20px #d9d9d9, inset -10px -10px 20px #ffffff;
}

.linkBtnIcon img {
  width: 50px;
}

.linkBtn:last-of-type img {
  width: 40px;
}

.backBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.backBtn:hover {
  transform: rotate(90deg);
}

.backBtn span {
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--light-gray);
  top: 50%;
  left: 50%;
}

.backBtn span:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

.backBtn span:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* medieQuery */

@media (max-width: 780px) {
  .sideNavCon::before {
    display: none;
  }

  .sideNavCon {
    width: 70%;
    max-width: 300px;
  }

  .linkBtn p {
    width: 60px;
    height: 60px;
  }

  .linkBtn img {
    width: 30px;
  }

  .linkBtn:last-of-type img {
    width: 25px;
  }

  .backBtn {
    width: 35px;
    height: 35px;
  }

  .backBtn span {
    height: 1.5px;
  }
  
}

@media (max-width : 500px) {

  .sideNav li{
    font-size: 1.75rem;
  }

  .linkBtn p {
    width: 40px;
    height: 40px;
  }

  .linkBtn img {
    width: 20px;
  }

  .linkBtn:last-of-type img {
    width: 15px;
  }

  .linkBtn span {
    font-size: 0.8rem;
  }
}