.secBg {
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  background: #f0f0f0;
  top: 0;
  left: 0;
}

.introCon {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introBox {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  background: #f7f7f7;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
  animation: introAni 3s cubic-bezier(0.16, 1, 0.3, 1) 1s alternate;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes introAni {
  0% {
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 100px;
    height: 370px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 70%;
    height: 370px;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}

.titleCon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "rokafSans-bold";
  color: var(--gray);
  line-height: 1.6;
  font-size: 2.75vw;
  animation: titleConAni 1s ease-in-out 3s forwards;
}

@keyframes titleConAni {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(100%);
  }
}

.englishTitle {
  text-transform: uppercase;
  font-size: 4.75vw;
  color: transparent;
  background: url(/public/img/gradation_bg.jpg) repeat;
  background-position: center;
  background-size: 200%;
  -webkit-background-clip: text;
  position: relative;
}

.title strong {
  color: black;
}

@media (max-width: 1080px) {
  .englishTitle {
    font-size: 5.5vw;
  }
  .titleCon {
    font-size: 3.5vw;
  }
}

@media (max-width: 780px) {
  @keyframes introAni {
    0% {
      width: 100px;
      height: 100px;
      background: #f0f0f0;
      box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
        -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 100px;
      height: 100px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
        0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
    }
    50% {
      width: 100px;
      height: 200px;
      background: #f8f8f8;
      box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
        0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
    }
    100% {
      width: 70%;
      height: 200px;
      background: #fafafa;
      box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
        2px 2px 2px #ffffff inset;
    }
  }
}

.nextBtn {
  position: absolute;
  color: white;
  bottom: 2rem;
  padding: 1rem 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "pretendard-medium";
  border-radius: 2rem;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  opacity: 0;
  animation: fadeInAni 2s ease-in 3s forwards;
}

.nextBtn::after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.5s ease;
}

.nextBtn:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

.nextBtn:hover::after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@keyframes fadeInAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}