.secBg {
  display: flex;
  height: 100vh;
  position: relative;
}

.secBg > * {
  flex: 1;
}

.explainTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  line-height: 1.6;
  font-family: "rokafSans-bold";
  color: var(--gray);
  animation: txtFadeOutAni 1s ease-in 2s forwards;
}

.explainTxt strong {
  color: black;
  word-spacing: 1px;
}

@keyframes txtFadeOutAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.questionMark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.puzzleSlice {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18%;
}

.questionMark .first {
  transform: translate(-140%, -192.5%) rotate(-62.5deg);
}

.questionMark .second {
  width: 23%;
  transform: translate(-79%, -262%) rotate(-24deg);
}

.questionMark .third {
  transform: translate(-10%, -247.5%) rotate(15deg);
}

.questionMark .fourth {
  width: 22%;
  transform: translate(22.5%, -197.5%) rotate(75deg);
}

.questionMark .fifth {
  transform: translate(34.5%, -122.5%) rotate(113.5deg);
}

.questionMark .sixth {
  width: 22%;
  transform: translate(-19%, -39.5%) rotate(129.5deg);
}

.questionMark .seventh {
  width: 17%;
  transform: translate(-51.5%, 43.5%) rotate(-75deg);
}

.questionMark .eighth {
  width: 15%;
  transform: translate(-52.5%, 110%);
}

.puzzleSlice:nth-of-type(1),
.puzzleSlice:nth-of-type(5),
.puzzleSlice:nth-of-type(7) {
  animation: questionRightAni 1s ease-in-out 2s forwards;
}

.puzzleSlice:nth-of-type(3),
.puzzleSlice:nth-of-type(6),
.puzzleSlice:nth-of-type(8) {
  animation: questionLeftAni 1.2s ease-in-out 1.8s forwards;
}

.puzzleSlice:nth-of-type(2),
.puzzleSlice:nth-of-type(4) {
  animation: questionBottomAni 1.4s ease-in-out 1.6s forwards;
}

@keyframes questionRightAni {
  0%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 0;
    top: 100%;
  }
}


@keyframes questionLeftAni {
  0%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    top : 60%;
    left: 100%;
  }
}

@keyframes questionBottomAni {
  0%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    top : 0;
    left: -60%;
  }
}

.puzzleNav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  max-width: 1520px;
}

.puzzleNav div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.puzzleNav img {
  width: 60%;
}

.puzzleNav div:hover {
  transform: translateY(-15%);
}

.puzzleNav div:nth-of-type(1) img {
  transform: translateY(-10%) rotate(-15deg);
}

.puzzleNav div:nth-of-type(2) img {
  width: 70%;
  transform: translateY(-30%) rotate(15deg);
}

.puzzleNav div:nth-of-type(3) img {
  transform: translateY(30%) rotate(-20deg);
}

.puzzleNav div:nth-of-type(4) img {
  width: 80%;
  transform: translateY(-30%) rotate(10deg);
}

.puzzleNav {
  animation: puzzleNavAni 2s ease-in 3s forwards;
}

@keyframes puzzleNavAni {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* medieQuery */

@media (max-width: 1280px) {
  .explainTxt {
    font-size: 5vw;
  }
}

@media (max-width: 780px) {
  .secBg {
    flex-direction: column;
    justify-content: center;
  }

  .secBg > * {
    flex: none;
  }

  .explainTxt {
    height: 40%;
    font-size: 6vw;
  }

  .questionMark {
    height: 40%;
  }

  .puzzleSlice {
    width: 15%;
  }

  .questionMark .second {
    width: 19%;
  }

  .questionMark .fourth {
    width: 18%;
  }

  .questionMark .sixth {
    width: 19%;
  }

  .questionMark .seventh {
    width: 14%;
  }

  .questionMark .eighth {
    width: 12%;
  }

  .puzzleNav {
    flex-wrap: wrap;
    height: 60%;
  }

  .puzzleNav div {
    flex: none;
    width: 50%;
  }

  .puzzleNav img {
    width: 80% !important;
  }
  
  .puzzleNav div:nth-of-type(4) img {
    width: 120% !important;
  }
}




/* abstractBg */
.abstractBg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.abstractBg img {
  position: absolute;
  width: 20%;
  opacity: 0.1;
  transform: translate(-50%, -50%);
}

.abstractBg img:nth-of-type(1) { top : 5%; left: 5%; opacity: 0.05;}
.abstractBg img:nth-of-type(2) { top : 70%; left : 80%; width: 10%;}
.abstractBg img:nth-of-type(3) { top : 60%; left : 10%; width: 15%;}
.abstractBg img:nth-of-type(4) { top : 10% ; left: 90%; opacity: 0.15; width: 15%;}

/* linkGithub */

.linkGithub {
  position : absolute;
  top : 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkGithub img {
  width: 35px;
  margin: 0.5rem;
  transition: .3s;
}

.linkGithub span {
  color : var(--light-gray);
  transition: .3s;
}

.linkGithub:hover span {
  font-weight: bolder;
}

.linkGithub:hover img {
  transform: scale(1.2);
}