.secBg {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.secBg::before{
  content: "PORTFOLIO";
  position: absolute;
  font-family: "scdream-bold";
  color : var(--orange-color);
  font-size: 10vw;
  letter-spacing: 5px;
  opacity: 0.1;
  top : 1rem;
  left: 1rem;
  z-index: -1;
}

/* portfolioCard */

.portfolioCardCon {
  width: 90%;
  height: 50%;
  display: flex;
  margin: auto;
  max-width: 1520px;
}

.portfolioCard {
  border-radius: 3rem;
  position: relative;
  background-size: cover;
  background-position: 40% 30%;
  overflow: hidden;
  box-shadow: var(--box-shadowing);
}

.label {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.icon img {
  width: 25px;
}

.info {
  width: calc(100% - 100px);
  transition: .3s;
  padding-left: 1rem;
  justify-content: space-between;
}

.info strong {
  font-family: "pretendard-semibold";
  font-size: 1.25rem;
}

.info .hashtags span:not(:last-of-type){
  padding-right: 1rem;
}

.hoverArea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .3s;
}

.lineButton {
  background-color: transparent;
  border-style: none;
  color: white;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.lineButtonIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineButtonIcon img{
  height: 30px;
}

.lineButton span:last-of-type {
  text-transform: uppercase;
  padding-top: 1rem;
  font-family: "pretendard-medium";
}


/* portfolioCard Background img */

.portfolioCard:nth-of-type(1) {
  background-image: url(/public/img/project_1_mockup.jpg);
}

.portfolioCard:nth-of-type(2) {
  background-image: url(/public/img/project_2_mockup.jpg);
}

.portfolioCard:nth-of-type(3) {
  background-image: url(/public/img/project_3_mockup.jpg);
}

.portfolioCard:nth-of-type(4) {
  background-image: url(/public/img/project_4_mockup.jpg);
}

.portfolioCard:nth-of-type(1) {
  background-image: url(/public/img/project_1_mockup.jpg);
}

.portfolioCard:nth-of-type(5) {
  background-image: url(/public/img/project_5_mockup.jpg);
}

.portfolioCard:nth-of-type(6) {
  background-image: url(/public/img/project_6_mockup.jpg);
}

@media (max-width: 1150px) {
  .info {
    flex-direction: column;
  }
  .info strong {
    padding-bottom: 0.5rem;
  }
  :root {
    font-size: 12px;
  }
}

@media (min-width : 781px) {

  .portfolioCard {
    flex: 1;
    min-width: 70px;
  }

  .portfolioCard:not(:last-of-type) {
    margin-right: 1rem;
  }

  .portfolioCard.active{
    flex-grow: 10;
    width: 100%;
    border-radius: 2rem;
  }

  .info,
  .lineButton {
    display: none;
  }

  .portfolioCard.active .info {
    display: flex;
  }
  
  .portfolioCard.active .hoverArea{
    width: 0%
  } 
  
  .portfolioCard.active:hover .hoverArea{
    width: 100%;
  } 
  
  .portfolioCard.active .lineButton {
    display: flex;
  }

}

@media (max-width : 780px) {

  .secBg {
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .portfolioCardCon {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
    padding-bottom: 2rem;
  }

  .portfolioCard {
    width: calc(100% / 2 - 1rem);
    margin: 1rem 0;
  }

  .hashtags {
    display: none;
  }

  .icon,
  .lineButtonIcon {
    width: 40px;
    height: 40px;
  }

  .icon img {
    width: 25px;
  }

  .lineButtonIcon img {
    height: 20px;
  }

  .label {
    height: 60px;
  }

  .lineButton {
    display: flex;
  }
}

@media (max-width : 500px) {

  .portfolioCardCon {
    justify-content: center;
    height: 85%;
    padding-bottom: 4rem;
  }

  .portfolioCard {
    width: 90%;
    margin: 1rem 0;
  }

  .label {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: transparent;
  }

  .info {
    display: none;
  }

  .icon {
    background-color: white;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.5);
  }
}

@media (max-width : 420px) {
  .icon {
    display: none;
  }
}