/* common css */

@font-face {
  font-family: "pretendard-semibold";
  src: url("./fonts/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "pretendard-medium";
  src: url("./fonts/Pretendard-Medium.ttf");
}

@font-face {
  font-family: "pretendard-extralight";
  src: url("./fonts/Pretendard-ExtraLight.ttf");
}

@font-face {
  font-family: "rokafSans-bold";
  src: url("./fonts/ROKAFSansBold.ttf");
}

@font-face {
  font-family: "scdream-bold";
  src: url("./fonts/SCDream9.otf");
}

:root {
  --gray : #505050;
  --light-gray : #6B6B6B;
  --lightest-gray : #eaeaea;
  --font-color : #333333;
  --pink-color : #ff6f91;
  --pink-bg : #FFD0DB;
  --pink-shadow : rgba(255, 111, 145, 0.16);
  --violet-color : #845ec2;
  --violot-dark-color : #482482;
  --violet-bg : #E0D7EF;
  --violet-shadow : rgba(132, 94, 194, 0.16);
  --purple-color : #d65db1;
  --purple-bg : #F5D6EC;
  --purple-shadow : rgba(214, 93, 177, 0.16);
  --orange-color : #ff9671;
  --orange-bg : #FFDBCE;
  --orange-shadow : rgba(255, 150, 113, 0.16);
  --yellow-color : #ffc75f;
  --yellow-light-color : #fbf8f1;
  --yellow-bg : #FEE1AD;
  --yellow-shadow : rgba(254, 225, 173, 0.26);
  --box-shadowing : 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* App */

body {
  color : var(--font-color);
  font-family: "pretendard-extralight";
  background: #f7f7f7;
}

.swiper {
  width: 100%;
  height: 100vh;
}
